<?xml version="1.0" encoding="UTF-8"?>

<settings>
    <!-- Copyright 2016 Yahoo Inc. -->
    <!-- Licensed under the terms of the Apache 2.0 license. Please see LICENSE file in the project root for terms. -->

    <profiles>
        <profile>
            <id>it-repo</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>artifactory-releases</id>
                    <name>artifactory-releases</name>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <url>http://edge.artifactory.yahoo.com:8000/artifactory/maven-local-release</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>artifactory-releases</id>
                    <name>artifactory-releases</name>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <url>http://edge.artifactory.yahoo.com:8000/artifactory/maven-local-release</url>
                    <layout>default</layout>
                </pluginRepository>
                <pluginRepository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
